/* Estilos generales para todo el body */
body {
    font-family: 'Arial', sans-serif;/*cambia el tipo de letra*/
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;/*modifica el color del fondo del body*/
    color: #333;
}

/*esto modifica el mensaje y el fondo de la imagen*/
.fondo_bienvenida {
    background-image: url('../imagenes/descarga.jpeg');
    background-size:cover;/*la imagen cubre todo el area*/
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 100px;/*modifica que tan abajo va a estar el mensaje*/
    text-align: center;/* Centra el texto*/
    color: white; /*color del texto*/
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

/*modifica el título principal */
.titulo-bienvenida {
    font-size: 3rem;/*tamaño grande del texto*/
    font-weight: bold;/*texto negrita*/
    margin: 0;/*sin margen*/
}

/*modifica la navegación*/
nav ul {
    list-style: none; /* Quita los puntos de la lista */
    display: flex;    /* Organiza los items horizontalmente */
    justify-content: center; /* Centra los links horizontalmente */
    background-color: #222;  /* Fondo oscuro para la barra */
    padding: 10px 0;         /* Padding vertical */
    margin: 0;
}

nav ul li {
    margin: 0 15px;  /*separación los links*/
}

nav ul li a {
    color: white;/*color de texto de los links*/
    text-decoration: none;/*quita subrayado*/
    font-weight: 600;/*negrita ligera*/
    font-size: 1.1rem;/*tamaño un poco más grande*/
}

nav ul li a:hover {
    color: #f0a500; /* Cambia de color cuando se pasa el mouse */
}

/* Sección de biografía */
section h2, section h3 {
    text-align: center;
    color: #222;
}

/*edita como se va a ver el texto (el ancho)*/
section p, section ul {
    max-width: 900px;/*cambia el ancho*/
    margin: 10px auto 30px;/*centra el texto*/
    line-height: 1.5;/*espacio entre las lineas*/
    font-size: 1.1rem;
}

/*modifica que tan a la izquierda esta la lista de hobbies*/
section ul {
    padding-left: 20px;
}

/*modifica que tano espacio vertical ay estre cada elemento de hobbies*/
section ul li {
    margin-bottom: 8px;
}
/*modifica el color de los elementos de hobbies*/
section ul li a {
    color: #0077cc;
    text-decoration: none;
}

/*le pone una linea al ser un elemento "interactivo"*/
section ul li a:hover {
    text-decoration: underline;
}

/*cambia el final de la pagina*/
footer {
    text-align: center;/*centra el mensaje final de la pagina*/
    padding: 20px 0;/*anade espacio entre el final del mensaje verticalmente*/
    background-color: #222;/*color del fondo*/
    color: white;/*color del texto*/
    font-size: 0.9rem;/*cambia sutilmente el tamano de la letra*/
}
